

body {
  padding-top: 50px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 80vh;
  min-height: 600px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#carta{
  width: 700px;
  height: 620px;
}
.portfolio-item {
  margin-bottom: 60px;
}
